<!-- Footer -->
<footer>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
    <mat-divider fxFlex="1 0"></mat-divider>
    <div fxFlex="30" class="divider-text">Follow along <a href="https://www.instagram.com/hijenbae">@hijenbae</a></div>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  <div  class="footer-main" fxLayout="row" fxLayoutAlign="center center">
    <iframe 
    src="https://snapwidget.com/embed/858571" 
    class="snapwidget-widget" 
    allowtransparency="true" 
    frameborder="0" 
    scrolling="no" style="border:none; overflow:hidden;  width:660px; height: 110px;"></iframe>
  </div>
  <div class="footer-copyright">
    © Sunday Postcards est. 2020 
  </div>
</footer>