footer {
  color: black;
  text-align: center;
}

.footer-main {
  padding: 15px;
  padding-top: 20px;
}

.divider-text {
  a {
    color: black;
  }
}

.footer-copyright {
  color: darkgray;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}
