<div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="10px">
  <div fxFlex>
    <img
      alt="About Photo"
      class="about-photo"
      src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/49184570_10158115853683858_204671336436465664_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_ohc=zc6cPv1K9wYAX8B6ucq&_nc_ht=scontent-iad3-1.xx&oh=d81e1581b73712284a555520b0557c9f&oe=5F4FC84A">
  </div>
  <div fxFlex="70" class="about-content">
    Sunday Postcards is the creative space of Jen Bae. Software developer that dabbles in graphic design, coffee roasting, photography, and travel.
  </div>
</div>